<!DOCTYPE html>
<html>
    <title> Homepage </title>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Skye's Handsmade</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
    <head>
        <style>
            <h1> {color: white;
                font-family: verdana;
                font-size: 300%;}
                
            <article> {background-color:Fuchsia:}    
            </style>
        </head>
        <body>

    
<header> <h1 style="background-color:Fuchsia" ;> Skye's Handsmade </h1> </header>
<img scr:"https://www.instagram.com/p/CNVBIZbjoMc/"  alt:"Skye the flower child" style="width:500px;height:600px;">
<h2>ONE FOR EVERYONE</h2>


<article style="text-align:center;"> 
    <h3>ABOUT</h3>
    <h4> New gen, Affordable, Jazzy. <br> 
        <br> <br>
        All with a story at Skye's </h4>
    <p> Skye's was a teeny-tiny quarantine small business now ready to open its wings and fly. We sell handmade bracelets, rings, hairbands, anklets and bags. Now in the UK after Turkey. </p> </article>
</html>