{% load static %}
{% if user.is_authenticated %}
    <h4>{{ user }}</h4>
    <h5><a href="/logout">Log Out</a></h5>
{% else %}
    <h5>Anonymous</h5>
    <h5><a href="/login">Log In</a></h5>
{% endif %}
{% for product in object_list %}
    <div class="product">
        <h2>{{ product.name }}</h2>
        <img src="{{ product.image.url }}">
        <h4>Price:</h4>
        <p>{{ product.price }}</p>
        <h4>Description:</h4>
        <p>{{ product.description }}</p>
        <h4><a href="/add-to-cart/{{ product.id }}">Add To Cart</a></h4>
    </div>
{% endfor %}
